
@model IEnumerable<EntityLayer.Concrete.Blog>


<div class="row" >
    <div class="col-12 grid-margin stretch-card" >
        <div class="card">
            <div class="card-body">
               

                @foreach (var item in Model)
                {
                    <div class="d-flex">
                        <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
                            <i class="mdi mdi-account-outline icon-sm mr-2"></i>


                            <span>@User.Identity.Name</span>


                        </div>
                        <div class="d-flex align-items-center text-muted font-weight-light">
                            <i class="mdi mdi-clock icon-sm mr-2"></i>
                            <span>@item.blogCreateDate.ToShortDateString()</span>
                        </div>
                    </div>
                    <div class="row mt-3" style=" display:flex;">
                        <div class="col-4 ">
                            <img src="~/@item.blogThumbnailImage" class="mb-auto mw-75 w-75 rounded" alt="image">


                        </div>
                    </div>
                }

                <h4 class="card-title">Yazar hakkında</h4>
                <div class="d-flex mt-5 align-items-top">
                    <img src="~/AddProfileImage/@ViewBag.writerImage" class="img-sm rounded-circle mr-3" alt="image">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">@User.Identity.Name</h5>
                        <p class="mb-0 font-weight-light">@ViewBag.writerAbout</p>
                    </div>
                    <div class="ml-auto">
                        <i class="mdi mdi-heart-outline text-muted"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>