@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "PasswordUpdate";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}

@using (Html.BeginForm("PasswordUpdate", "Writer", FormMethod.Post))
{

    <br />
    <p class="card-description"> Yazar Şifre Güncelle </p>
    <div class="form-group">
        <label>Eski şifre</label>
        <input type="password" name="writerPassword" value="" class="form-control" />

    </div>
    <div class="form-group">
        <label> Yeni şifre</label>
        <input type="password" name="password" value="" class="form-control" />

    </div>
    <div class="form-group">
        <label>Yeni şifre tekrar</label>
        <input type="password" name="repeatPassword" value="" class="form-control" />
        @Html.HiddenFor(x=>x.writerID)
      
    </div>
            @ViewBag.sifreUyusmaz
            <button class="btn btn-info">Şifreyi Değiştir</button>

}

