


<div class="tech-btm">
   
    <p>Teknoloji yazılım ve diğerler bloglar için </p>
    <form action="/NewsLatter/subscribeMail" method="post">
        @*@Html.TextBoxFor(x => x.mail, new { @class = "form-control" , @type = "email" })*@
        <input type="email" placeholder="Email" required="" name="mail">
        <input type="submit" value="Abone Ol" name="letters">
    </form>

</div>



